
	
	/* fond degradé noir -> blanc pour la barre de filtres */
header.filters-area > app-directory-filters > div.directory-filters-wrapper {
    background-color: #f8f8f9;
}

/* disparition de la barre de recherche 
header.filters-area > app-directory-filters > div.directory-filters-wrapper > div.directory-filters-searchbar {
	display:none;
}*/

/* disparition du bouton + de filtres si votre widget ne contient que des filtres mis en avant et en petit nomnbre */
header.filters-area > app-directory-filters > div.directory-filters-wrapper > app-directory-all-filters {
	display:none;
}




/* PERSONNALISATION DE LA LISTE DES RESULTATS */

/* Fond pour la liste */
app-directory-list {
 background : #fff;  
}

/* fond pour l'entete  de la liste*/
app-directory-list > div.directory-list-wrapper > nav.directory-results-header > div {
    background: #ffffff00;    /
}

/* Nombre de résultats 
app-directory-list > div.directory-list-wrapper > nav.directory-results-header > div  > p.directory-results-count { 
	border: solid;
    padding: 0.25em;
    border-radius: 22px;
    font-size: 231%;
} 
*/

/* Liste de résultats */
mat-drawer > div.mat-drawer-inner-container > app-directory-list.list-and-map {
	width: 740px;
	max-width: 100vw;
}
mat-drawer > div.mat-drawer-inner-container > app-directory-entity-sheet.ng-star-inserted {
	width: 740px;
	max-width: 100vw;
}
mat-drawer > div.mat-drawer-inner-container > app-directory-entity-sheet.ng-star-inserted > div.directory-entity-sheet-wrapper > section.directory-entity-sheet-core{
	max-width: 740px;
	max-width: 100vw;
}

.mat-drawer {
color: rgb(72 72 72 / 87%);
}

app-directory-summary.ng-star-inserted > div.directory-summary-wrapper {
	max-height: 180px;
}

app-directory-summary.ng-star-inserted > div.directory-summary-wrapper > p.directory-summary-title {
	font-size: 1.05rem;
	line-height: 1.2rem;
	font-weight: 500;
	color: rgb(72 72 72 / 87%);
}

/* Fiche inserted */

/* Title */
section.directory-entity-sheet-core > app-directory-entity > div.directory-entity-wrapper > header.directory-entity-header > div.directory-entity-header-logo-title > h1.directory-entity-header-title > app-directory-entity-field > section.ng-star-inserted > p.ng-star-inserted {
	font-size: 1.35rem;
	line-height: 1.4rem;
	font-weight: 500;	
}

main.ng-star-inserted > div.ng-star-inserted > section.util-el-surface {
	background-color: #fff;
}


/* Fiche fullscreen */

@media (min-width: 768px) {
	div.directory-entity-wrapper > header.directory-entity-header {
		display: block;
	}

	div.directory-entity-wrapper > main.ng-star-inserted > div.col-md-6 {
		max-width: 100%;
	}
}

div.directory-entity-wrapper > main.row {
	display: block;
}






/* Searchbar */

mat-form-field[appearance~=alternate-fill][appearance~=bordered].mat-form-field-should-float.mat-focused .mat-form-field-flex, mat-form-field[appearance~=alternate-fill][appearance~=bordered]:not(.mat-form-field-should-float) .mat-form-field-flex{
	border-color: #aaa;
}

div.directory-filters-searchbar > form > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex {
   	border-width: 3px;
	border-radius: 90px;
	background-color: #fff;
	height: 48px;
}

div.directory-filters-searchbar > form > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
   	width: 700px;
	max-width: 70vw;
}

/*mat-form-field{
	box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}
*/

/*Button LEGENDE */
div.directory-filters-legend > button{
	background-color: #fff;
}

/*Button FULL SCREEN */
div.directory-filters-fullscreen > button{
	background-color: #fff;
	border-width: 1px;
	border-color: #aaa;
}
span.mat-button-wrapper > mat-icon.mat-icon-no-color{
	color: #aaa;
}

