
	
	/* fond degradé noir -> blanc pour la barre de filtres 
header.filters-area > app-directory-filters > div.directory-filters-wrapper {
    background: linear-gradient(45deg, black, transparent);
}*/

/* disparition de la barre de recherche 
header.filters-area > app-directory-filters > div.directory-filters-wrapper > div.directory-filters-searchbar {
	display:none;
}*/

/* disparition du bouton + de filtres si votre widget ne contient que des filtres mis en avant et en petit nomnbre */
header.filters-area > app-directory-filters > div.directory-filters-wrapper > app-directory-all-filters {
	display:none;
}




/* PERSONNALISATION DE LA LISTE DES RESULTATS */

/* Fond pour la liste */
app-directory-list {
 background : #fff;  
}

/* fond pour l'entete  de la liste*/
app-directory-list > div.directory-list-wrapper > nav.directory-results-header > div {
    background: #ffffff00;    /
}

/* Nombre de résultats 
app-directory-list > div.directory-list-wrapper > nav.directory-results-header > div  > p.directory-results-count { 
	border: solid;
    padding: 0.25em;
    border-radius: 22px;
    font-size: 231%;
} 
*/
mat-drawer > div.mat-drawer-inner-container > app-directory-list.list-and-map {
	width: 640px;
	max-width: 100vw;
}
mat-drawer > div.mat-drawer-inner-container > app-directory-entity-sheet.ng-star-inserted {
	width: 640px;
	max-width: 100vw;
}
mat-drawer > div.mat-drawer-inner-container > app-directory-entity-sheet.ng-star-inserted > div.directory-entity-sheet-wrapper > section.directory-entity-sheet-core{
	max-width: 640px;
	max-width: 100vw;
}

div.directory-filters-searchbar > form > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
   	width: 500px;
	max-width: 70vw;
}



